@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--cell-size: 100px;
	--mark-size: calc(var(--cell-size) * 0.9);
}

body {
	margin: 0;
	font: 1.5rem "Nunito", sans-serif;
}

.board {
	width: 100%;
	height: 100vh;
	display: none;
	place-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto);
}

.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(3n + 1) {
	border-left: none;
}

.cell:nth-child(3n + 3) {
	border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
	border-bottom: none;
}

.cell.x,
.cell.circle {
	cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
	background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
	background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
	content: "";
	width: calc(var(--mark-size) * 0.15);
	height: calc(var(--mark-size));
	position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
	transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
	transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
	content: "";
	border-radius: 50%;
	position: absolute;
}

.cell.circle::before,
.cell:not(.x):not(.circle):hover::before {
	width: var(--mark-size);
	height: var(--mark-size);
	background-color: black;
}

.cell.circle::after,
.cell:not(.x):not(.circle):hover::after {
	width: calc(var(--mark-size) * 0.7);
	height: calc(var(--mark-size) * 0.7);
	background-color: white;
}

.winning-message {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	flex-direction: column;
}

.winning-message button {
	font-size: 3rem;
	background-color: white;
	border: 1px solid black;
	padding: 0.25em 0.5em;
	cursor: pointer;
	border-radius: 12px;
}

.winning-message button:hover {
	background-color: black;
	border-color: white;
	color: white;
}

.winning-message.show {
	display: flex;
}

.points {
	margin-top: 60px;
	font-size: 4rem;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.pointWrapper {
	display: flex;
	text-align: center;
	flex-flow: column;
	background-color: rgb(41, 41, 41);
	border-radius: 10px;
	padding: 20px;
}

.pointWrapper p {
	margin: 0;
	margin-bottom: 12px;
	border-bottom: 2px solid white;
}

.Next-Round-button {
	margin-bottom: 20px;
}

.menu {
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	position: relative;
}

.menu h1 {
	position: absolute;
	top: 0;
	margin-top: 0;
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
	padding: 2rem;
	font-size: 4rem;
}

ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 80%;
}

ul li {
	background-color: rgb(64, 64, 64);
	padding: 1rem;
	font-size: 3rem;
	border-radius: 12px;
	color: white;
}

ul li:hover {
	transform: scale(120%);
	transition: all 100ms;
}

.costum-rounds {
	display: none;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-size: 5rem;
	background-color: rgb(22, 22, 22);
	color: white;
}

.costum-changers {
	border: none;
	outline: none;
	background-color: inherit;
	font: inherit;
	color: white;
	margin: 10px;
}

.costum-rounds input {
	font: inherit;
	width: 100%;
	border: none;
	background-color: inherit;
	color: white;
	text-align: center;
}

.costum-rounds input:focus {
	border: none;
	outline: none;
}

.continue {
	border: none;
	outline: none;
	background-color: inherit;
	font: inherit;
	color: rgb(0, 0, 0);
	margin: 10px;
	font-size: 2.5rem;
	background-color: rgb(255, 255, 255);
	padding: 1rem;
	border-radius: 20px;
	font-weight: 400;
}

.continue:hover {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

input::-webkit-inner-spin-button {
	display: none;
}

.round-over {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	font-size: 5.5rem;
	color: white;
}

.round-over button {
	font: inherit;
	outline: none;
	border: none;
	font-size: 3.5rem;
	border-radius: 20px;
	padding: 1rem;
	margin-top: 20px;
}

.round-over button:hover {
	opacity: 0.9;
	transform: scale(1.1);
	transition: all 100ms;
}

ul {
	padding-left: 0;
}
